cryptography==41.0.5
cycler==0.11.0
Cython==3.0.2
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.7
Django==4.2.7
fastapi==0.103.1
filelock==3.12.3
gunicorn==21.2.0
imageio==2.32.0
isort==5.12.0
MarkupSafe==2.1.3
matplotlib==3.8.1
networkx==3.1
numpy
onnx==1.15.0
onnxruntime-gpu
openapi-codec==1.3.2
opencv-contrib-python-headless==4.8.1.78
opencv-python==4.8.1.78
opencv-python-headless==4.8.1.78
ordered-set==4.1.0
packaging==23.1
pandas==2.1.0
pathspec==0.11.2
Pillow==9.5.0
py-cpuinfo==9.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pyclipper==1.3.0.post5
pycparser==2.21
pydantic==2.3.0
pydantic-settings==2.0.3
pydantic_core==2.6.3
pygame==2.5.1
pytesseract==0.3.10
pytest==7.4.2
scikit-image==0.21.0
scikit-learn==1.3.0
scipy==1.11.2
seaborn==0.12.2
shapely==2.0.1
starlette==0.27.0
supervision==0.14.0
torch==2.0.1
torchvision==0.15.2
tqdm==4.66.1
typing_extensions==4.8.0
tzdata==2023.3
ua-parser==0.18.0
ultralytics
uritemplate==4.1.1
urllib3==1.26.16
user-agents==2.2.0
uvicorn==0.24.0.post1